<div class="row">
    <div class="small-8 small-centered columns">
        <h3>Thank you for completing your order!  Once the remaining participants have completed their orders, your food will be sent!</h3>
    </div>
</div>