<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <p>You have been invited to participate in the group order at &quot;Some Restaurant Name&quot;.  Please click <a href="http://localhost:3000/orders/<%= @order.token %>/init">HERE</a> to place your order.</p>
   </body>
</html>